:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #A0AECD;
  --color-light: #000000;
  --color-lavender: #e6e6fa;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  background: linear-gradient(45deg, #8f9f6d, #f8f8f2, #81a1c1, #e6e6fa, #f7768e, #a3be8c, #4c566a, #d19a66, #bce3e3, #f9f9f9, #b0e57c, #d3a7a7, #d9d9d9, #e1d5e7, #fed5cb, #a2ded0, #b3d0e6, #c9c4be);
  background-size: 1000% 1000%;
  animation: gradientAnimation 300s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 100% 0%;
  }
  20% {
    background-position: 100% 100%;
  }
  30% {
    background-position: 0% 100%;
  }
  40% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  60% {
    background-position: 100% 100%;
  }
  70% {
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  90% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #000000;
  margin-top: 60px;
}

p {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  text-align: justify;
  color: #000;
  font-size: 20px;
}

.input-container {
  width: 520px;
  position: relative;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%, 100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-50%) scale(1.1);
  }
}

.navbar {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px 0;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

.navbar li {
  list-style: none;
  text-align: center;
  display: block;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
}

.navbar li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 34px;
  transition: 0.5s;
  color: #000;
}

.navbar li a .icon .fa:last-child {
  color: #f7768e;
}

.navbar li a:hover .icon .fa {
  transform: translateY(-100%);
}

.navbar li a .name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.navbar li a .name span {
  display: block;
  position: relative;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  transition: 0.5s;
}

.navbar li a .name span:before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  width: 100%;
  left: 0;
  height: 100%;
  color: #f7768e;
}

.navbar li a:hover .name span {
  transform: translateY(20px);
}

#about-section {
  display: none;
  text-align: center;
  color: #000;
}

#about-section h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#about-section p {
  font-size: 18px;
  line-height: 1.5;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh - 50px); /* Adjust the value based on your navbar height and desired container height */
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-top: 20px; /* Adjust the top margin to create a gap */
  margin-bottom: 20px;
  padding: 20px;
  max-width: 800px; /* Adjust the value based on your desired container width */
}

.content-container {
  text-align: center;
}


#develop-section {
  display: none;
  text-align: center;
  color: #000;
}

#develop-section h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#develop-section p {
  font-size: 18px;
  line-height: 1.5;
}

.develop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh - 50px); /* Adjust the value based on your navbar height and desired container height */
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-top: 20px; /* Adjust the top margin to create a gap */
  margin-bottom: 20px;
  padding: 20px;
  max-width: 800px; /* Adjust the value based on your desired container width */
}

.input-container {
  width: 520px;
  position: relative;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.job-titles-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 15px;
  min-height: 220px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
  width: 700px;
  overflow-y: auto;
}

.job-titles-container label {
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

.job-titles-list {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  padding-left: 50px;
  font-size: 15px;
}

.job-titles-list li {
  font-size: 1.2em;
  margin-bottom: 5px;
}


.custom-input-rows {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the input rows horizontally */
  gap: 15px; /* Vertical gap between input rows */
}

.custom-input-row {
  display: flex;
  flex-direction: column;
  width: 50%; /* Adjust the width of the input row */
  max-width: 300px; /* Limit the maximum width of the input row */
}

.custom-label {
  margin-bottom: 5px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.custom-input {
  padding: 8px; /* Increase the input height */
  border: 1px solid #000; /* Black border */
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}



.custom-submit-button {
  background-color: #f7768e;
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-submit-button:hover {
  background-color: #d19a66;
}

.about-image {
  display: block; /* Ensure the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
  width: 200px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}


/* Mobile View */
@media only screen and (max-width: 600px) {
  body {
    padding: 20px;
    background-size: 1000% 1000%;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 70px;
  }

  p {
    font-size: 16px; /* Adjust paragraph font size for better readability on small screens */
    line-height: 1.6; /* Increase line height for better spacing between lines */
  }

  .input-container {
    width: 90%;
  }

  .icon {
    right: 5px;
  }

  .navbar {
    padding: 10px 0;
  }

  .navbar li a {
    padding: 10px;
  }

  #about-section,
  #develop-section {
    display: block;
  }

  .about-container,
  .develop-container {
    height: auto;
  }

  .job-titles-container {
    width: 90%;
  }

  .custom-input-rows,
  .custom-input-row {
    width: 100%;
  }

  .custom-submit-button {
    width: 100%;
  }

  /* Adjust background animation for better performance on mobile devices */
  @keyframes gradientAnimation {
    0%, 100% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
